<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <input type="text" v-model="num1">
        <input type="text" v-model="num2">
        <h3>计算的结果为{{add}}</h3>
        <h3>计算的结果为{{add}}</h3>
        <h3>计算的结果为{{add}}</h3>
        <h4>计算的结果为{{add1()}}</h4>
        <h4>计算的结果为{{add1()}}</h4>
        <h4>计算的结果为{{add1()}}</h4>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num1: "",
                num2: "",
                sum: "",
            },
            methods: {
                add1() {
                    console.log("methods被调用了");
                    return parseFloat(this.num1) + parseFloat(this.num2);
                }
            },
            computed: {
                add() {
                    console.log("add被调用了");
                    return this.sum = parseInt(this.num1) + parseInt(this.num2)
                }
            }
        })
    </script>
</body>

</html>